<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Edit TV Show </title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark text-white  p-3 d-flex justify-content-end">
            <a href="/dashboard" class="btn btn-primary m-2">TV Show</a>
            <a href="/logout" class="btn btn-warning m-2">Logout</a>
        </nav>
        <div class="container">
            {% if error%}
                {%for msg in error%}
                    <p class="text-danger">{{msg}}</p>
                {% endfor%}
            {% endif%}
        </div>
            <form action="/show/update/{{show.id}}" method="POST" class="flex-column bg-dark text-warning p-3" >
                {% if show_msg %}
                    <div class ="alert alert-info" role="alert">
                        {% for msg in show_msg %}
                            <p class="text-danger">{{msg}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h1 class="text-success">Edit {{show.title}}</h1>
                <input type="hidden" name="id" value="{{show.id}}">
                <label for ="title" class="form-label">Title:</label>
                <input type="text" class="form-control mb-3" name="title" value="{{show.title}}">
                <label for ="network" class="form-label">Network:</label>
                <input type="text" class="form-control mb-3" name="network" value = "{{show.network}}">
                <label for ="release_date" class="form-label">Release Date:</label>
                <input type="date" class="form-control mb-3" name="release_date" value ="{{show.release_date.strftime('%Y-%m-%d')}}">
                <label for ="content" class="form-label">Description:</label>
                <textarea type="text" class="form-control mb-3" rows="7" name="description" >{{show.description}}</textarea>
                <div>
                    <button class="btn btn-info fw-bold mb-3">Update</button>
                </div>
            </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>