<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>View TV Show</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark text-white  p-3 d-flex justify-content-end">
            <a href="/dashboard" class="btn btn-primary m-2">TV Show</a>
            <a href="/logout" class="btn btn-warning m-2">Logout</a>
        </nav>
        <div class="container">
            {% if error%}
                {%for msg in error%}
                    <p class="text-danger">{{msg}}</p>
                {% endfor%}
            {% endif%}
        </div>

        <div class="bg-info rounded-3 p-5">
            <h1 class="display-3 text-dark fw-bold">{{show.title}}</h1>
            <p>LIke by {{show.users_who_liked_ids | length}}</p>
            <div class="container-fluid display-6 py-5 bg-white text-dark rounded-3">
                <div class="row">
                    <div class="col-4 fw-bold">
                        Network:
                    </div>
                    <div class="col-8 mb-3">
                        {{show.network}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 fw-bold">
                        Release Date:
                    </div>
                    <div class="col-8 mb-3">
                        {{show.release_date.strftime('%B %d %Y')}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 fw-bold">
                        Description:
                    </div>
                    <div class=" col-8 mb-3">
                        {{show.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 fw-bold">
                        Posted By:
                    </div>
                    <div class="col-8 mb-3">
                        {{show.creators.full_name()}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>